*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eeeae4 ;
}

nav{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
nav img{
    margin: 30px;
}

nav ul{
    margin-left: 180px;
}

nav ul li{
    list-style-type: none;
    display: inline; 
    margin: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 21px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.breadcrumbs ol li{
    display: inline;
    margin: 0 30px;
}

.breadcrumbs ol li a{
    text-decoration: none;
    font-size: 21px;
    color: black;
}
.breadcrumbs ol li a:hover{
    text-decoration: underline;
}

.description{
    margin-top: 30px;
    margin-left: 30px;
}

.description h1{
    margin-bottom: 16px;
}