*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eeeae4 ;
}

nav{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
nav img{
    margin: 30px;
}

nav ul{
    margin-left: 180px;
}

nav ul li{
    list-style-type: none;
    display: inline; 
    margin: 0 25px;
}   

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 21px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.breadcrumbs ol li{
    display: inline;
    margin: 0 30px;
}

.breadcrumbs ol li a{
    text-decoration: none;
    font-size: 21px;
    color: black;
}
.breadcrumbs ol li a:hover{
    text-decoration: underline;
}

.description{
    margin-top: 30px;
    margin-left: 30px;
}

.description h1{
    margin-bottom: 16px;
}

/* ================================================== */

.product_card{
    width: 90%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 30PX auto;
    gap:18px;
    flex-wrap: wrap;
}

.product_card_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    line-height: 60px;
    padding: 6px;
    border-radius: 20px;
}

.product_card_content img{
    width: 260px;
    height: 180px;
    border-radius: 20px;
}

.product_card_content:hover{
    transition: all 0.5s;
    transform: scale(102%);

}











@media (max-width:600px) {

    nav{
        display: flex;
        flex-direction: column;
    }

    nav ul{
        margin: 0;
        line-height: 30px;
    }

    nav ul li{
        display: block;
        text-align: center;
    }

    .breadcrumbs ol li a{
        font-size: 18px;
    }

    .product_card{
        justify-content: center;
    }
    

}